$argent: #edededff;
$gules: #bf3b2fff;
$vert: #1f9b1fff;
$Or: #f2e085ff;
$azure: #2f2fbfff;
$purpure: #832fbfff;
$sable: #111111ff;

$cultured: #edededff;
$smoky-black: #111111ff;
$international-orange-golden-gate-bridge: #bf3b2fff;
$persian-blue: #2f2fbfff;
$slimy-green: #1f9b1fff;
$french-violet: #832fbfff;
$flax: #f2e085ff;

body {
  background: $argent url(/xv.png) fixed;
}

App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: $sable;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $argent;
}

.document {
  padding: 2.5em 5em;
  background-color: $argent;
  border: 2px solid $sable;
}

%callout {
  background: inherit;
  color: $sable;
  padding: 0.25rem 0.5rem;
  margin-left: -0.5rem;
  box-sizing: border-box;
  position: relative;
  border-left: 0.125rem solid;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

%icon {
  position: absolute;
  top: 0px;
  left: -3.25rem;
  font-weight: normal;
  font-size: 2rem;
  font-family: "Font Awesome 5 Free";
  font-size: 2rem; /* Preferred icon size */
}

.resources {
  @extend %callout;
  border-left-color: $azure;
}

.resources:before {
  @extend %icon;
  content: "\f518";
  color: $azure;
}

.tip {
  @extend %callout;
  border-left-color: $vert;
}

.tip:before {
  @extend %icon;
  content: "\f058";
  color: $vert;
}

.tip ul, .resources ul {
  margin-bottom: 0rem;
}
